<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="log_file" value="event_timer.log"/>
      <add key="json_file" value="event_timer.json" />
      <add key="json_server_port" value="27817"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5,Profile=Mono-3.2.3"/>
    </startup>
</configuration>
