<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Type" value="Armor" />
    <add key="Rarity" value="Exotic" />
    <add key="Minimum Level" value="80" />
    <add key="Maximum Level" value="80" />
    <add key="Minimum Profit Margin" value="8500" />
    <add key="Copper Value" value="14" />
  </appSettings>
</configuration>