<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="sqlite_db" value="api_server.db" />
    <add key="port" value="37817" />
    <add key="indent_json" value="false" />
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5,Profile=Mono-3.2.3" />
  </startup>
    
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="api_server.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level [%thread] %logger{1}: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>
